$inactive: #d5d4df;
$inactive-text: #a8a8a8;

.day {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid $inactive;
  border-left: 0;
  border-bottom: 0;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 7px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  &.absent {
    color: $inactive-text;
    background-color: $inactive;
    cursor: default;
  }

  &:nth-child(1) {
    border-left: 1px solid $inactive;
  }

  // different moods

  &.Happy {
    background-color: red;
  }
}

.emoji {
  font-size: 22px;
}
