.month-container {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-auto-flow: row;
}

.month-item {
  display: grid;
  /* background-color: turquoise; */
  border: 1px solid #fff;
}

.day-default {
  cursor: pointer;
}

.weekDay {
  background-color: red;
}
