$inactive: #d5d4df;
$inactive-text: #a8a8a8;

.day {
  cursor: pointer;
  border: 1px solid $inactive;
  border-left: 0;
  border-bottom: 0;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 7px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    font-size: 8px;
    line-height: 8px;
    padding: 2px;
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    width: 25px;
    height: 25px;
  }

  &.absent {
    color: $inactive-text;
    background-color: $inactive;
    cursor: default;
  }

  &.hasMood {
    color: white;
    font-weight: bold;
  }

  &:nth-child(1) {
    border-left: 1px solid $inactive;
  }

  // different moods

  &.Happy {
    background-color: #5bed51;
  }

  &.Fine {
    background-color: #389e2b;
  }

  &.Meh {
    background-color: #2b939e;
  }

  &.Sad {
    background-color: #edeb51;
  }

  &.Awful {
    background-color: #ed5e51;
  }
}

.emoji {
  font-size: 18px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* ...; */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* ...; */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* ...; */
}
