.month-container {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-auto-flow: row;
}

.month-item {
  background-color: turquoise;
  border: 1px solid #fff;
  cursor: pointer;
}

.weekDay {
  background-color: red;
}

.month-name {
  border: 1px solid #fff;

  background-color: yellow;
}
