.emoji-list {
  list-style: none;
  padding: 15px;
  margin: 0;
}
.list-item {
  display: flex;
  cursor: pointer;
  gap: 5px;
  align-items: center;
  // padding: 5px 5px;
  font-size: 18px;
  &:hover:not(.selected) {
    color: red;
  }
  &.selected {
    font-weight: bold;
    font-size: 20px;
  }
}
