.monthContainer {
  display: flex;
  align-items: center;
}

.monthName {
  text-align: center;
  flex: 0 0 15%;
  font-weight: 900;
  font-size: 14px;
  color: #000000;
}

.daysContainer {
  display: flex;
  flex: 0 0 85%;
  // &:nth-child(1) {
  //   border-top: 1px solid #000000;
  // }
}
