.monthContainer {
  display: flex;
  align-items: center;
  max-width: 100vw;
}

.monthName {
  text-align: center;
  flex: 0 0 8%;
  font-weight: 900;
  font-size: 14px;
  color: #000000;

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    font-size: 8px;
    line-height: 8px;
    flex: 0 0 5%;
  }
}

.daysContainer {
  display: flex;
  flex: 0 0 92%;
  @media only screen and (max-width: 600px) {
    font-size: 8px;
    line-height: 8px;
    flex: 0 0 95%;
  }
  // &:nth-child(1) {
  //   border-top: 1px solid #000000;
  // }
}
