.newMood-form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  border: 0.5px solid #bdbdbd;
  color: #333;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding: 11px;
  outline: none;
  width: 70%;
}

label {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #828282;
}

.emojiContainer {
  display: flex;
  align-items: baseline;
  gap: 15px;
  padding: 10px;
}

// .pickEmojiBtn {
//   cursor: pointer;
//   //   color: white;
//   border: 0.5px solid #bdbdbd;
//   color: #333;
//   border-radius: 8px;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 18px;
//   padding: 11px;
//   //   background-color: yellow;
// }

.emojiBtn {
  font-size: 20px;
  //   border: none;
  color: #333;
  border-radius: 8px;
  &:hover {
    cursor: pointer;
  }
}
