.stat-btn {
  border: 0;
  background-color: #45549d;
  color: white;
  padding: 1rem;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    font-size: 12px;
    line-height: 12px;
    padding: 7px;
  }

  /* Medium devices (landscape tablets, 768px and up) */
  // @media only screen and (min-width: 768px) {
  //   font-size: 14px;
  //   line-height: 14px;
  // }
}
