body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #270C52;
  /* background-image: linear-gradient(
    160deg,
    #0093e9 0%,
    #80d0c7 50%,
    #ffffff 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed; */
  font-family: "Open Sans", sans-serif;
  min-width: 100%;
  color: #E7E7E7;
}
h1,
p,
div {
  cursor: default;
}
#root {
  margin: 0 auto;
  /* max-width: 90vw; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  font-size: 8px;
}

/* h1 {
  @media only screen and (max-width: 600px) {
    font-size: 14px;
  }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* ...; */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* ...; */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* ...; */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* ...; */
}
